{% extends 'base.html' %}

{% block content %}
<div class="container col-12" style="margin-top: 10vmin;">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>Checkout cancelled</h3>
      <p>No problem. You can either keep shopping, or you can view your cart and amend your order.</p>
      <a class="btn btn-dark" href="{% url 'index' %}">Continue Shopping</a>
      <a class="btn btn-dark m-4" href="{% url 'cart' %}">View your Cart</a>

    </div>
    <div class="col-md-6">
      <!-- Space for if we want to add antyhing else -->

    </div>
  </div>
</div>

{% endblock %}
