{% extends 'base.html' %}
{% block content %}


<div class="container mt-5">
    <h1>Cart</h1>


    {% if cart.orderitem_set.all %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        
        <br>
        <tbody>
            {% for item in cart.orderitem_set.all %}
            
            <tr>
                <td><a href="{% url 'detail' item.product.id %}"><img src="{{ item.product.image.url }}" alt="Product" width="80"></a></td>
                <td class="align-middle">{{ item.product.name }}</td>
                <td  class="align-middle">
                  <form action="{% url 'update-cart' item.product.id %}" method="post" class="d-inline-block">
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="number" class="form-control" name="quantity" value="{{ item.quantity }}" min="1">
                          <div class="input-group-append">
                              <button type="submit" class="btn btn-dark">Update</button>
                          </div>
                      </div>
                  </form>
              </td>
              
                <td class="align-middle">${{ item.product.price }}</td>
                <td class="align-middle">${{ item.get_total_item_price }}</td>
                <td class="align-middle"><a href="{% url 'remove-from-cart' item.product.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <h3 class="text-right">Total: ${{ cart.get_total }}</h3>

    <br>
    <form id="checkout-form" action="#">
        {% csrf_token %}
        <button type="submit" id="checkout-button" class="btn btn-dark btn-block">Go to Checkout</button>
    </form>

    {% else %}

    <p>Your cart is empty!</p>
    <a href="{% url 'index' %}" class="btn btn-dark">Go Shopping</a>

{% endif %}

</div>

<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  var stripe = Stripe('pk_test_51NcAplKTTNpybu1oBa9m6XeqC3TGQOCw0EYJQhJJHLCf3eC996sIC8pdtr7NSw3GBDYpPZdEEJIA4TW7FYZDvCD200HwjTkail');

  document.getElementById('checkout-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var csrftoken = getCookie('csrftoken');
    
    fetch('/create-checkout-session/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {

      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>

{% endblock %}
