{% extends 'base.html' %}
{% block content %}

<div class="container" style="margin-top: 10vmin;">
  <h1>Cart</h1>

{% if cart.orderitem_set.all %}
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.orderitem_set.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>
              <form action="{% url 'update-cart' item.product.id %}" method="post">
                  {% csrf_token %}
                  <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
                  <input type="submit" value="Update">
              </form>
          </td>
          
            <td>${{ item.product.price }}</td>
            <td>${{ item.get_total_item_price }}</td>
            
            <td><a href="{% url 'remove-from-cart' item.product.id %}">Remove</a></td>


        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Total: ${{ cart.get_total }}</h3>

<form id="checkout-form" action="#">
  {% csrf_token %}
  <button type="submit" id="checkout-button">Checkout</button>
</form>

{% else %}
    <p>Your cart is empty!</p>
{% endif %}

</div>

<script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  var stripe = Stripe('pk_test_51NcAplKTTNpybu1oBa9m6XeqC3TGQOCw0EYJQhJJHLCf3eC996sIC8pdtr7NSw3GBDYpPZdEEJIA4TW7FYZDvCD200HwjTkail');

  document.getElementById('checkout-form').addEventListener('submit', function(e) {
    e.preventDefault();
    var csrftoken = getCookie('csrftoken');
    
    fetch('/create-checkout-session/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }
    })
    .then(function(response) {
      return response.json();
    })
    .then(function(session) {
      return stripe.redirectToCheckout({ sessionId: session.id });
    })
    .then(function(result) {
      // If redirectToCheckout fails due to a browser or network
      // error, you should display the localized error message to your
      // customer using error.message.
      if (result.error) {
        alert(result.error.message);
      }
    })
    .catch(function(error) {
      console.error('Error:', error);
    });
  });
</script>

{% endblock %}
