{% extends 'base.html' %}

{% block content %}
<div class="container col-12" style="margin-top: 10vmin;">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h3>Thanks for your purchase!</h3>
      <p>We'll email you an order confirmation with details and tracking information</p>
      <a class="btn btn-outline-secondary" href="{% url 'index' %}">Continue Shopping</a>
      {% if user.is_authenticated %}
      <a class="btn btn-outline-secondary m-4" href="{% url 'account' %}">View Your Orders</a>
      {% else %}
      <h3>Create an account for next time</h3>
      <p>You can track future orders, and streamline checkout for next time.</p>
      <a class="btn btn-outline-secondary m-4" href="{% url 'account' %}">Create an Account</a>
      {% endif %}


    </div>

  </div>
</div>

{% endblock %}
