/* Product Index Page */
div.index-header {
  text-align: center;
  margin: 0;
  padding: 4rem 0;
  border: none;
}

div.index-header > h1,
div.index-header > p {
  text-align: center;
  margin: 0;
  padding: 0;
}

div.index-nav-bar {
  display: flex;
  margin: 0;
  padding: 1rem 1rem 1rem 2rem;
}

button.index-nav-category {
  font-weight: bold;
}

.index-nav-collapse {
  padding: 0 1rem 1rem 2rem;
}

a {
  text-decoration: none;
}

.index-nav-category-detail > a:hover {
  text-decoration: underline black;
}

div.index-product-container {
  margin: 0 auto;
}

div.index-product {
  margin: 0;
  padding: 1.5%;
}

div.index-product > a {
  border: none;
  border-radius: 0;
  background-color: #f9f6f0;
  text-align: center;
}

div.index-product > a:hover {
  background-color: rgba(196, 168, 133, 0.304);
}

.index-container {
  display: flex;
}

.card-body > h5 {
  margin-bottom: 1rem;
}

.card-body > p {
  margin: 0.5rem;
}

/* Product Detail Page */

div.product-detail-description {
  width: 35%;
  margin: auto 2.5rem;
}

div.review-delete-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

@media (max-width: 768px) {
  div.product-detail-description {
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* .card-body > h5 {
  margin-bottom: 1rem;
}

.card-body > p {
  margin: 0.5rem;
} */

.navbar-hover-shadow:hover {
  box-shadow: 0 25px 8px black }