{% extends 'base.html' %} {% block content %}

<main class="index-main container-md">
  <div class="index-header card">
    <h1 class="index-header-title card-body">All Coffee</h1>
    <p class="index-header-description">Browse all Karma coffee</p>
  </div>

  <div class="index-container">
    <div class="index-nav-bar flex-shrink-0" style="width: 280px">
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button
            class="index-nav-category index-nav-category-detail-btn btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            aria-expanded="true"
            data-filter="All"
          >
            ALL COFFEE
          </button>
        </li>
        <li class="mb-1">
          <button
            class="index-nav-category btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#home-collapse"
            aria-expanded="true"
          >
            ORIGIN
          </button>
          <div class="index-nav-collapse collapse show" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="Colombia"
                  >Colombia</a
                >
              </li>
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="Ethiopia"
                  >Ethiopia</a
                >
              </li>
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="Brazil"
                  >Brazil</a
                >
              </li>
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="India"
                  >India</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button
            class="index-nav-category btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#dashboard-collapse"
            aria-expanded="false"
          >
            ROAST
          </button>
          <div class="index-nav-collapse collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="D"
                  >Dark</a
                >
              </li>
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="M"
                  >Medium</a
                >
              </li>
              <li class="index-nav-category-detail">
                <a
                  href="#"
                  class="index-nav-category-detail-btn link-body-emphasis d-inline-flex rounded"
                  data-filter="L"
                  >Light</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="index-product-container row row-cols-1 row-cols-md-3 g-4">
      {% for product in products %}
      <div
        class="index-product col"
        data-origin="{{ product.origin }}"
        data-roast="{{ product.roast }}"
      >
        <a href="{% url 'detail' product.id %}" class="card h-100">
          <img
            src="{{ product.image.url }}"
            class="card-img-top"
            alt="Product image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">${{ product.price }}</p>
            <p class="card-text">{{ product.flavour }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
